body{
    text-align: center;
}
h3{
    text-align: center;
}
table,td,tr{
    border-collapse: collapse;
}
footer{
    text-align: center;
    color: black;
}
.container{
    /* padding-top: 30px; */
     padding-bottom: 50px;
    padding-left:  300px; 
    padding-right: 300px;
    /* margin: 1oopx; */
}
.btn{
    margin-right: 300px;
    text-align: right;
}
.img{
    text-align: left;
}